;; Copyright © 2020, JUXT LTD.

{"clojure-spin"
 {:git-repo "https://github.com/juxt/spin"
  :includedir "/home/mal/src/github.com/juxt/spin/doc"
  ;;:includedir "https://raw.githubusercontent.com/juxt/spin/master/doc"
  }}
